@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:focus,
button:focus,
*:active {
  @apply outline-none;
}

html {
  @apply bg-gray-300;
  @apply text-gray-800;
  @apply antialiased;
  @apply h-full;
}

body {
  @apply min-h-full;
  @apply flex;
  @apply flex-col;
}

#__next {
  @apply flex-auto;
  @apply flex;
  @apply flex-col;
}

.skeleton {
  @apply relative;
  @apply overflow-hidden;
}

.skeleton::before,
.skeleton::after {
  @apply absolute;
  @apply top-0;
  @apply right-0;
  @apply bottom-0;
  @apply left-0;
  @apply pointer-events-none;
  @apply opacity-0;
  @apply transition-opacity;
  @apply duration-200;
  @apply ease-in-out;
  content: '';
}

.skeleton::before {
  @apply bg-gray-300;
  @apply rounded-md;
}

.skeleton-active::before,
.skeleton-active::after {
  @apply opacity-100;
  @apply pointer-events-auto;
}

.skeleton::after {
  animation: shimmer 3s infinite;
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  transform: translateX(-100%);
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}
